@model IEnumerable<Sahaab_site.Models.Customer>
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers Table</h2>

<!DOCTYPE html>
<html>
<head>
    <title>Customers</title>
</head>
<body>
    <div class="container">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr class="table-Light">
                        <th>#</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Gender</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @{int i = 0;}
                    @foreach (var customer in Model)
                    {
                        { i++; }
                        <tr class="table-info">
                            <td>@i</td>
                            <td>@customer.Name</td>
                            <td>@customer.Email</td>
                            <td>@customer.Gender</td>
                            <td>
                                <div class="btn btn-outline-secondary">@Html.ActionLink("Edit", "Edit", "Customers", new { Id = @customer.Id }, null)</div>
                                <div class="btn btn-outline-secondary">@Html.ActionLink("Delete", "Delete", "Customers", new { Id = @customer.Id }, new { onclick = "return confirm('Are you sure you wish to delete this customer?');" })</div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="btn btn-outline-info">@Html.ActionLink("ADD CUSTOMER", "Create", "Customers")</div>
        </div>
    </div>
</body>
</html>


@section scripts
{
    <script>
            $(document).ready(function () {
                if ('@TempData["message"]' == "Successfully deleted") {
                    toastr.success('Customer successfully Deleted..','Delete');
                }
                if ('@TempData["message"]' == "Successfully Edited") {
                    toastr.success('Customer successfully Edited..','SubmitEdit');
                }
                 if ('@TempData["message"]' == "Successfully Added") {
                    toastr.success('Customer successfully Added..', 'AddCustomer');
                }
                else { }
            });
    </script>
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/toastr")
}
